[submodule "libbf"]
	path = src/libbf
	url = https://github.com/mavam/libbf
[submodule "src/docopt"]
	path = src/docopt
	url = https://github.com/docopt/docopt.cpp
[submodule "src/json11"]
	path = src/json11
	url = https://github.com/kirisetsz/json11
